.category-page {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 50px;

  .category-title {
    margin-bottom: 50px;
    font-size: 35px;
  }
  .category-item-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 960px) {
  .category-page {
    margin: 0 auto;
    margin-top: 30px;
  }
}
@media (max-width: 480px) {
  .category-page {
    width: 90%;
    margin: 0 auto;
    margin-top: 30px;
  }
}
