.post-box {
  width: 100%;
  display: flex;
  .post-page {
    width: 90%;
    margin: 0px auto;
    margin-top: 100px;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .title {
      line-height: 2em;
      text-align: center;
      width: 100%;
    }
    .date {
      text-align: center;
      width: 100%;
    }
    .post-body {
      width: 100%;
      margin: 50px 0;

      li {
        margin-left: 1.45rem;
      }

      h1 {
        text-decoration: underline;
        text-decoration-style: wavy;
        text-underline-offset: 8px;
      }
      h2 {
        text-decoration: underline;
        text-decoration-style: dashed;
        text-underline-offset: 8px;
      }
    }
  }

  .table {
    min-width: 150px;
    max-width: 150px;

    li {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      word-break: break-all;
    }
  }
}

@media (max-width: 700px) {
  .post-box {
    .table {
      display: none;
    }
  }
}
