.category-list {
  max-width: 1100px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;

  .name {
    min-width: 100px;
    width: 100px;
  }
  .items {
    overflow-y: hidden;
    overflow-x: scroll;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .items::-webkit-scrollbar {
    display: none;
  }
}

@media (max-width: 480px) {
  .category-list {
    flex-direction: column;
    margin-bottom: 50px;

    .name {
      width: auto;
      min-width: 0px;
      margin-bottom: 10px;
    }
  }
}
