.category-list {
  display: flex;
  align-items: center;
  margin-bottom: 20px;

  .name {
    min-width: 100px;
    width: 100px;
  }
  .items {
    display: flex;
    overflow: hidden;
    width: calc(100vw - 350px);
  }
}
