.layout {
  display: flex;
  flex-direction: column;
  .content {
    min-height: 100vh;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    position: relative;

    main {
      transition-duration: 1s;
      flex: 1;
      flex-wrap: nowrap;
      margin-left: 320px;
    }
  }
}

@media (max-width: 960px) {
  .layout {
    .content {
      main {
        margin-top: 180px;
        margin-left: 20px;
        margin-bottom: 150px;
      }
    }
  }
}

@media (max-width: 480px) {
  .layout {
    .content {
      main {
        margin-left: 10px;
      }
    }
  }
}
