.layout {
  display: flex;
  flex-direction: column;
  .content {
    display: flex;
    position: relative;

    main {
      transition-duration: 1s;
      flex: 1;
      flex-wrap: nowrap;
      margin-left: 320px;
    }
  }
}

@media (max-width: 960px) {
  .layout {
    .content {
      main {
        margin-left: 20px;
      }
    }
  }
}
