.mobile-nav {
  width: 100%;
  height: 150px;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  //grey
  z-index: 10;
  transition-duration: 1s;

  .logo {
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 35px;
  }

  .categories::-webkit-scrollbar {
    display: none;
  }
  .categories {
    width: 100%;
    max-width: fit-content;
    margin: 0 auto;
    display: flex;
    overflow-x: scroll;
    li {
      margin: 0 20px;
      list-style: none;
    }
  }
}

@media (max-width: 960px) {
  .mobile-nav {
    display: flex;
  }
}
