.navigation {
  min-width: 250px;
  .content {
    width: 220px;
    position: fixed;
    top: 50vh;
    left: 10px;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;

    .logo {
      margin-bottom: 10px;
    }

    .profile {
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid black;
      border-radius: 10px;
    }

    .category {
      display: flex;
      flex-wrap: wrap;
      font-size: 15px;
      width: 100%;
      li {
        margin: 0px 5px;
      }
    }

    .contact {
      display: flex;
    }

    .copyright {
      font-size: 15px;
    }
  }
}
