.navigation {
  display: flex;
  align-items: center;
  width: 220px;
  .content {
    top: 50vh;
    left: 10px;
    position: fixed;
    display: flex;
    flex-direction: column;
    background-color: blanchedalmond;
    border-radius: 10px;
    padding: 10px;

    .logo {
      margin-bottom: 10px;
    }

    .profile {
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid black;
      border-radius: 10px;
    }

    .category {
      display: flex;
      font-size: 15px;
      li {
        margin: 0px 5px;
      }
    }

    .contact {
      display: flex;
    }

    .copyright {
      font-size: 15px;
    }
  }
}
