.navigation {
  transition-duration: 1s;
  position: fixed;
  top: 0;
  left: 0;
  width: 280px;
  height: 100vh;
  //grey
  background-color: #a7a7a7;
  padding: 0 10px;

  .content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .profile {
    display: flex;
    flex-direction: column;
    margin: 20px 0;

    .profile-img-wrapper {
      width: 120px;
      height: 120px;
      border-radius: 50%;
      overflow: hidden;
      margin-bottom: 10px;
    }

    .contacts {
      display: flex;
      justify-content: space-between;

      .img-wrapper {
        cursor: pointer;
        width: 30px;
        height: 30px;
      }
    }
  }

  .category {
    margin-bottom: 20px;
  }
}

//src/component/layout.scss
@media (max-width: 960px) {
  .navigation {
    position: fixed;
    left: -300px;
  }
}
